
.DS_Store
.Rproj.user/FCA339AB/sources/prop/1208AA68
.Rproj.user/FCA339AB/sources/prop/INDEX
.Rproj.user/FCA339AB/sources/s-3443B133/8EB61BAF
.Rproj.user/FCA339AB/sources/s-3443B133/8EB61BAF-contents
.Rproj.user/FCA339AB/sources/s-3443B133/lock_file
.Rproj.user/shared/notebooks/FB249DBC-nba/1/s/chunks.json
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
data/.DS_Store
data/raw/.DS_Store
